*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
docs/build/
docs/pdf/build/
docs/site/
.vscode
julia-notebook/*-checkpoints.ipynb
python-notebook/.ipynb_checkpoints
.DS_Store
julia-notebook/.ipynb_checkpoints/tutorial-checkpoint.ipynb
julia-notebook/.ipynb_checkpoints/arnet-checkpoint.ipynb
